
<!DOCTYPE html>
<html>
    <title>Create user account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<body> 
        <form action="/processcreateac" method="post">
            Set User ID:<input type="text" name="userid" required><br>
            Set Password:<input type="password" name="pw" ><br><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>    
    