
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Message</title>
  
</head>


<body>
    <h1>Message for the operation:</h1>

    <% for (var i in m) { %>
        <p><%= m[i] %></p>
    <% } %>
    
    <a href="/read"><button class="btn btn-default">Go Back</button></a>
</body>
</html>