
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Restaurant</title>
  
</head>


<body>
    <h1>Restaurants</h1>
    <p>User: <%= user.userid %></p>
    <p>Showing  <%= restaurant.length %> documents</p>
    <table><tr>
        <td><a href="/new"><button class="btn btn-default">Create New Restaurant</button></a></td>
        <td><a href="/search"><button class="btn btn-default">Search Restaurant</button></a></td>
        </tr></table>
    </a>
    <p><a href="/logout">
        <button class="btn btn-default">Logout</button>
    </a></p>
    <ol> 
        <% for (var i in restaurant) { %>
            <li><a href='/display?_id=<%= restaurant[i]._id %>'><%= restaurant[i].name %></a></li> 
        <% } %>
    </ol> 
 
    
</body>
</html>