<!DOCTYPE html><html>
        <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Search restaurants</title>
        </head>
        <body>
            <h1>Please enter the search criteria:</h1>
        <form action="processsearch" method="post" enctype="multipart/form-data">
        Restaurant_id: <input type="text" name="rid" ><br>
        Name: <input type="text" name="name"><br>
        Borough: <input type="text" name="borough"  ><br>
        Cuisine: <input type="text" name="cuisine"  ><br>
        Address: <br>
        Street: <input type="text" name="street"  ><br>
        Building: <input type="text" name="building" ><br>
        Zipcode: <input type="text" name="zipcode"  ><br>
        GPS Coordinates (lon.): <input type="number" step="any" name="coordlon"  ><br>
        GPS Coordinates (lat.): <input type="number" step="any" name="coordlat"  ><br>
        Owner: <input type="text" name="owner"  ><br>
        <input type="submit">
        </form>
        </body></html>    
        
